.title-community{
  margin: 10px;
}
.d-flex {
    justify-content: space-around;
    display: flex;
    position: relative;
    border: 1px solid black;
}

.best5 {
    position: absolute;
    top : -15px;
    background-color: white;
}

 .p-2 {
    justify-content: center;
    width:20%;
 }
 .p-3 {
    justify-content: center;
    width:30%;
 }

.picture-icon{
    margin-top: 5px;
    margin-left: 20%;
    width: 125px;

}
.picture-profile{
    margin-top: 5px;
    margin-left: 20%;
    width: 200px;

}

.UploadFile {
  text-align: center;
}
